{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 130,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
